html, body {
  height: 100%;
  width: 100%;
}

body { background-color:pink;
     text-align:center;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img{
  width: 800px; 
  text-align:center;
}

.header{
  background-color: white;
  color: black;
  padding: 20px;
  text-align: center;
  font-family: fantasy;
  font-style:italic;
  border-radius: 35px;
}
 /* The navbar container */
.topnav{
  overflow: hidden;
  background-color: black;
  font-family: Tangerine;
  transition:0.1s;
  border-radius: 35px;
}

/* Navbar links */
.topnav a {
  float: left;
  display: flex;
  color: pink;
  text-align: center;
  padding: 15px;
  margin: 10px;
  text-decoration: none;
  position: relative; left:750px; 
  transition:0.1s;
  border-radius: 35px;
}
  .topnav a:hover {
    border: white solid 2px;
    transition:0.1s;
}
  
h1{
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  font-style: oblique;
}
h2{
 font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  font-style: oblique;
}
p{
 font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align:center;
  color: black;
  font-style: oblique;
}

.pageAlign{
display: flex;
justify-content:space-around;

}
.projectBox { 
text-align:center;
margin: 2em 0;
background-color: #c1bcb6;
padding: 20px;
}

.projectsImage{width: 400px;
    border: 5px solid black;
    padding: 10px;}

.projectBox:hover {
    transform: scale(.5);
   
    }